@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Grade Calculator";
}

<div class="form-container">

    <form action="calculateGrade()">
        <label for="assignments">Assignments</label>
        <input type="number" step="0.01" id="assignments" />

        <label for="group_project">Group Project</label>
        <input type="number" step="0.01" id="group_project" />

        <label for="quizzes">Quizzes</label>
        <input type="number" step="0.01" id="quizzes" />

        <label for="midterm">Midterm Exam</label>
        <input type="number" step="0.01" id="midterm" />

        <label for="final">Final Exam</label>
        <input type="number" step="0.01" id="final" />

        <label for="intex">INTEX</label>
        <input type="number" step="0.01" id="intex" />

        <button type="button" id="calculate">Calculate Grade</button>
        <h3 class="text-center">Grade: <span id="grade">--</span></h3>
    </form>


</div>

<script src="../js/jquery.js"></script>
<script src="../js/calculate.js"></script>
